<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Navbar</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{%  url 'home' %}">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
                    <a class="nav-link" href="{%  url 'about_us' %}">About Us</a>
                    <a class="nav-link" href="{%  url 'supporters' %}">For supporters</a>
                    <a class="nav-link" href="{%  url 'nonprofits' %}">For nonprofits</a>
                    <a class="nav-link" href="{%  url 'partners' %}">For businesses</a>
                    <a class="nav-link" href="{%  url 'contact_us' %}">Contact Us</a>
                    <button class="search-donate-btn nav-donate-color">
                        <h6>Make a donation</h6>
                    </button>
                </div>
            </div>
        </div>
    </nav>
    
</body>
</html>