<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/main.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/styles.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/partners_styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>About us</title>
</head>
<body>

    
    <!-- Navbar goes here -->
    {% include "base/navbar.html" %}


    <div class="landing-grid">
        <div class="landing-grid-text">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eius rem incidunt sapiente necessitatibus dolorum a aperiam natus nisi perspiciatis, suscipit reiciendis deserunt obcaecati. Tenetur libero laudantium numquam repellat sit! </p>
        </div>
        <div class="landing-grid-img">
            <img src="https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?cs=srgb&dl=pexels-evg-kowalievska-1170979.jpg&fm=jpg"
                alt="">
        </div>
    </div>

    <div class="col-row-grid grid-padding ">
        <div class="about-grid-items">
            <h1>Who we are</h1>
            <p>Reprehenderit esse labore id veniam ut <br> veniam non ex adipisicing amet ullamco dolor proident.</p>
            
        </div>

        <div class="about-grid-items">
            <h1>What we do</h1>
            <p>We connect small nonprofits to donors </p>
        </div>
    </div>

    <div class="other-non-profits">
        <div class="div-text-center">
            <br><br>
            <h1>How we work</h1>
            <br>
            <p>Nonprofits rely on the support of individuals like you to achieve their mission. <br> Every contribution is appreciated, and there is a way to help no matter who you are.</p>

        </div>
        <br><br>

        <div class="other-non-profit-grid">
            <div class="other-container">
                <img src="https://images.pexels.com/photos/263402/pexels-photo-263402.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="">
                    <br><br><br>
                    <h4>We meet the nonprofit</h4>
                <p>amet nostrud quis commodo do sunt aute nulla ad aute minim duis duis sit et culpa consectetur et enim mollit</p>
            </div>

            <div class="other-container">
                <img src="https://images.pexels.com/photos/356040/pexels-photo-356040.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="">
                    <br><br><br>
                    <h4>We connect nonprofits with resources and supporters</h4>
                <p>amet nostrud quis commodo do sunt aute nulla ad aute minim duis duis sit et culpa consectetur et enim mollit</p>
            </div>

            <div class="other-container">
                <img src="https://images.pexels.com/photos/416528/pexels-photo-416528.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="">
                    <br><br><br>
                    <h4>We deliver your donation</h4>
                <p>amet nostrud quis commodo do sunt aute nulla ad aute minim duis duis sit et culpa consectetur et enim mollit</p>
            </div>
            <br>

        </div>
    </div>

    <div class="col-row-grid" >
        <div>
            <img src="https://images.pexels.com/photos/9217103/pexels-photo-9217103.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        </div>
        <div class="center-text">
            <h1>Why Ghana?</h1>
            <br>
            <p>Lorem quis sunt magna dolor consectetur aliqua officia laborum reprehenderit Reprehenderit esse labore id veniam ut veniam non ex adipisicing amet ullamco dolor proident. Exercitation velit ea incididunt sit qui do ipsum fugiat laboris minim nostrud dolor

                <br><br> Reprehenderit esse labore id veniam ut veniam non ex adipisicing amet ullamco dolor proident. Exercitation velit ea incididunt sit qui do ipsum fugiat laboris minim nostrud dolor</p>
        </div>
    </div>

    <div class="discover discover-bg">
        <h1>Discover inpiring nonprofits</h1>
        <br>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search"
                                placeholder="Search topics or keywords">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>

        <br>

        <div class="discover-tags">
            <div class="discover-tags-item">
                <img src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/344/external-health-symbol-healthcare-tanah-basah-basic-outline-tanah-basah.png"
                    alt="">
                <p>health</p>

            </div>
            <div class="discover-tags-item">
                <img src="https://img.icons8.com/ios-glyphs/344/group.png" alt="">
                <p>human rights</p>

            </div>
            <div class="discover-tags-item">
                <img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/344/external-environment-ecology-vitaliy-gorbachev-fill-vitaly-gorbachev.png"
                    alt="">
                <p>environment</p>

            </div>
            <div class="discover-tags-item">
                <img src="https://img.icons8.com/ios/344/education.png" alt="">
                <p>education</p>

            </div>
            <div class="discover-tags-item">
                <img src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/344/external-religion-religion-dreamstale-lineal-dreamstale.png"
                    alt="">
                <p>religion</p>

            </div>
            <div class="discover-tags-item">
                <img src="https://img.icons8.com/nolan/344/150f99/bull.png" alt="">
                <p>animals</p>

            </div>

        </div>

    </div>

    <div>
        <img class="cover-img"
            src="https://images.pexels.com/photos/3845806/pexels-photo-3845806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="">
    </div>

    {% include "base/footer.html" %}
    
</body>
</html>