<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'user_profile' %}">All NGOs <span class="badge btn-danger "> 9</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'all_claim_request' %}">Claim requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'verification' %}">Verification requests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'upload_csv' %}">Upload web data(CSV)</a>
      </li>
  </ul>